
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificacion</title>
</head>
<body>
    <div class="row">
        <form method="post" action="/Home/Modificacion">
            <div hidden>
                <h2>Id:</h2>
                <input type="text" name="Id" value="@Model.Id" readonly />
            </div>
            <div>
                <h2>Fecha:</h2>
                <input type="text" name="Fecha" value="@Model.Fecha" />
            </div>

            <div>
                <h2>Concepto:</h2>
                <input type="text" name="Concepto" value="@Model.Concepto" />
            </div>

            <div>
                <h2>Monto:</h2>
                <input type="text" name="Monto" value="@Model.Monto" />
            </div>

            <div style="margin-top: 20px">
                <button class="btn btn-primary btn-lg" type="submit" value="Confirmar"> Confirmar </button>
                <a href="/Home/Index" class="btn btn-danger btn-lg">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>
